*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#f5f5f5;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:#0b5d1e;
  color:white;
}

.navbar ul{
  display:flex;
  gap:30px;
  list-style:none;
}

.navbar li{
  cursor:pointer;
}

.hero{
  height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
  url("https://images.unsplash.com/photo-1514894786521-55d752c7f5b9?auto=format&fit=crop&w=1600&q=80");
  background-size:cover;
  color:white;
}

.hero-content{
  max-width:700px;
}

.hero h1{
  font-size:3rem;
  margin-bottom:20px;
}

.hero p{
  font-size:1.2rem;
  margin-bottom:30px;
}

.btn{
  background:#e63946;
  color:white;
  padding:15px 35px;
  text-decoration:none;
  border-radius:6px;
}

.services{
  padding:70px 40px;
  text-align:center;
}

.cards{
  display:flex;
  gap:30px;
  justify-content:center;
  margin-top:40px;
  flex-wrap:wrap;
}

.card{
  background:white;
  padding:30px;
  width:280px;
  border-radius:12px;
  box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.footer{
  background:#111;
  color:white;
  text-align:center;
  padding:25px;
}